<div class="widget recentcomments">
  <h4 class="widget-header"> 最近的留言 <span class="pull-right"></span>
  </h4>
  <div class="widget-content">
    <ul id="recentComments" class="recentComments">
      <li><a href="http://blog.miniasp.com/post/2013/05/07/AngularJS-Intellisense-in-Visual-Studio-2012.aspx"
           class="postTitle">如何讓 Visual Studio 2012 支援 AngularJS 的 Intellisense</a> (7)<br><a
           href="http://blog.miniasp.com/" rel="nofollow">Will 保哥</a> 說: amelie: 這文章是講 Visual Studio 2012
        的，Visual Studio 2... <a
           href="http://blog.miniasp.com/post/2013/05/07/AngularJS-Intellisense-in-Visual-Studio-2012.aspx#id_cbe390e9-08ef-4aa9-a6d6-e5f43dc842ee"
           class="moreLink">[更多...]</a></li>
      <li><a href="http://blog.miniasp.com/post/2013/05/07/AngularJS-Intellisense-in-Visual-Studio-2012.aspx"
           class="postTitle">如何讓 Visual Studio 2012 支援 AngularJS 的 Intellisense</a> (7)<br>amelie 說: 你好 我在VS
        2010 的資料夾裡，沒有這2個檔案ㄟ commonHTML5Types.b... <a
           href="http://blog.miniasp.com/post/2013/05/07/AngularJS-Intellisense-in-Visual-Studio-2012.aspx#id_62c455f4-ff32-49d3-bd44-66ea2cf2a7b8"
           class="moreLink">[更多...]</a></li>
      <li><a
           href="http://blog.miniasp.com/post/2010/03/02/The-Complete-Guide-for-Purchase-Install-SSL-Certificate-to-IIS7.aspx"
           class="postTitle">購買與安裝 SSL 憑證完全攻略（以 IIS7 為例）</a> (25)<br><a href="http://www.miniasp.com/"
           rel="nofollow">多奇數位Joseph</a> 說: Hi Nat, 憑證申請主要分兩個步驟 (1)產生CSR並上傳至第三方認證機構的網站 (2)從第三... <a
           href="http://blog.miniasp.com/post/2010/03/02/The-Complete-Guide-for-Purchase-Install-SSL-Certificate-to-IIS7.aspx#id_0f91957b-880c-489d-b8c1-6364f6f9a8b8"
           class="moreLink">[更多...]</a></li>
      <li><a
           href="http://blog.miniasp.com/post/2010/03/02/The-Complete-Guide-for-Purchase-Install-SSL-Certificate-to-IIS7.aspx"
           class="postTitle">購買與安裝 SSL 憑證完全攻略（以 IIS7 為例）</a> (25)<br><a
           href="http://www.dotblogs.com.tw/nattu319" rel="nofollow">Nat</a> 說: 保哥,可以請教一下,我目前於國外申請Comodo的Comodo
        Wildcard SSL產品申請下來... <a
           href="http://blog.miniasp.com/post/2010/03/02/The-Complete-Guide-for-Purchase-Install-SSL-Certificate-to-IIS7.aspx#id_85bd439d-b7fb-4c3d-a266-481d0477ff01"
           class="moreLink">[更多...]</a></li>
      <li><a href="http://blog.miniasp.com/post/2008/12/22/Useful-tool-LDAP-Browser-Editor.aspx"
           class="postTitle">介紹好用工具：LDAP Browser/Editor</a> (10)<br><a href="http://blog.tenyi.com/"
           rel="nofollow">鳥毅</a> 說: 我推薦 jxplorer http://jxplorer.org/ ，也是Open Source又跨... <a
           href="http://blog.miniasp.com/post/2008/12/22/Useful-tool-LDAP-Browser-Editor.aspx#id_cfc0b7b0-217f-4650-b445-232a2eb9481e"
           class="moreLink">[更多...]</a></li>
    </ul><a href="http://blog.miniasp.com/syndication.axd?comments=true">Comment RSS <img
           src="/assets/images/rssButton.png" alt=""></a>
  </div>
</div>
